<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.headline.nil? %>
    <div class="form-group">
      <%= f.label :title, "Current Title" %>
      <%= f.text_field :title, placeholder: "Enter title", class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :company, "Employer" %>
      <%= f.text_field :company, placeholder: "Enter company", class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :location, "Location" %>
      <%= f.text_field :location, placeholder: "Enter location", class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :image, "image" %>
      <%= f.file_field :image, placeholder: "Enter image", class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :linked_link, "Employer" %>
      <%= f.text_field :linked_link, placeholder: "Enter LinkedIn profile link", class: "form-control", autofocus: true %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :portfolio_link, "Link to Portfolio" %>
    <%= f.text_field :portfolio_link, placeholder: "Enter url to portfolio", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :experience_level %>
    <%= f.select(:experience_level, ["Entry Level", "Mid-Level", "Senior-Level", "C-Level"], { prompt: "Select Your Experience Level" }, { class: "form-control" }) %>
  </div>
  <div class="form-group">
    <%= f.label :years_of_experience, "Years of Experience" %>
    <%= f.text_field :years_of_experience, placeholder: "Enter number of years", class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Hourly Rate in USD" %>
    <%= f.number_field :price, class: "form-control", placeholder: "Enter dollar amount" %>
  </div>
  
  

  
  <div class="form-group">
    <%= f.submit " Submit ", class: "button button-small" %>
  </div>
  
<% end %>
