<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :years_of_experience, "Years of Professional Experience" %>
    <%= f.text_field :years_of_experience, placeholder: "14", class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :experience_level %>
    <%= f.select(:experience_level, ["Entry Level", "Mid-Level", "Senior-Level", "C-Level"], { prompt: "Select Your Experience Level" }, { class: "form-control" }) %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Rate for 15 Minutes" %>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :field, "Industry" %>
    <%= f.select(:field, ["Accounting", "Designer", "Finance", "Web Developer"], { prompt: "Select Your Industry" }, { class: "form-control" }) %>
  </div>
  <div class="form-group">
    <%= f.submit " Get my Repellent Spray ", class: "button button-small" %>
  </div>
  
<% end %>
