<h3>Bank Account Information</h3>

<%= form_tag update_bank_account_path(@profile), method: "post" do %>
  <div id="stripe_error" class="alert alert-danger" style="display:none">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="form-group">
    <%= label_tag :country %>
    <%= text_field_tag :country, nil, { :name => nil, :'data-stripe' => "country", class: "form-control", placeholder: "Enter US for United States" } %>
  </div>
  <div class="form-group">
    <%= label_tag :routing_number %>
    <%= text_field_tag :routing_number, nil, { :name => nil, :'data-stripe' => "routingNumber", class: "form-control", placeholder: "Enter routing number" } %>
  </div>
  <div class="form-group">
    <%= label_tag :account_number %>
    <%= text_field_tag :account_number, nil, { :name => nil, :'data-stripe' => "accountNumber", class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= submit_tag " Add Bank Account ", class: "button button-small" %>
  </div>

<% end %>
  
  