  <div class="content">
      <div id="pad-wrapper" class="user-profile">
        <!-- header -->
        <div class="row header">
            <div class="col-md-8">
                <% if @profile.user.linkedin_photo_url.present? %>
                    <%= image_tag(@profile.user.linkedin_photo_url, class: "avatar img-circle", size: "80x80") %>
                <% else %>
                    <%= image_tag(@profile.user.image.url, class: "avatar img-circle", size: "80x80") %>
                <% end %>
                <h3 class="name"><%=  "#{@profile.user.first_name} #{@profile.user.last_name}" %></h3>
                <h4 class="area"><%= @profile.user.headline %></h4><br>
                <span class="area"><%= @profile.user.location %> |</span>  
                <span class="area">LinkedIn Connections: <%= @profile.user.connections %> |</span>
                <span class="area"><%= @profile.user.industry %></span>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <%= link_to "Hire Me Now", new_profile_order_path(@profile), class: "button pull-right", data: { no_turbolink: true } %>
                </div>
                <div class="row">
                    <%= link_to "Send me a message", new_message_path(:user => @user), class: "btn btn-link pull-right" %>
                </div>
                <div class="row">
                    <h2 class="name pull-right"><%= number_to_currency(@profile.price) %></h2>
                </div>
                <div class="row">
                    <p class="pull-right">Per Hour</p>
                </div>
            </div>

           
            
        </div><br>

        <div class="row profile">
            <!-- bio, new note & orders column -->
            <div class="col-md-9 bio">
                <div class="profile-box">
                    <!-- biography -->
                    <div class="col-md-12 section">
                        <h6>Professional Summary</h6>
                        <p><%= @profile.user.summary %></p>
                    </div>

                    <h6>Portfolio</h6>
                    <br>
                    <!-- recent orders table -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-2">
                                    Order ID
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>
                                    Date
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>
                                    Items
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>
                                    Total amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row -->
                            <tr class="first">
                                <td>
                                    <a href="#">#459</a>
                                </td>
                                <td>
                                    Jan 03, 2013
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    $ 3,500.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">#510</a>
                                </td>
                                <td>
                                    Feb 22, 2013
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    $ 800.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">#618</a>
                                </td>
                                <td>
                                    Jan 03, 2013
                                </td>
                                <td>
                                    8
                                </td>
                                <td>
                                    $ 3,499.99
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- new comment form -->
                    <div class="col-md-12 section comment">
                        <h6>Add a quick note</h6>
                        <p>Add a note about this user to keep a history of your interactions.</p>
                        <textarea></textarea>
                        <a href="#">Attach files</a>
                        <div class="col-md-12 submit-box pull-right">
                            <input type="submit" class="button button-small" value="Add Note">
                            <span>OR</span>
                            <input type="reset" value="Cancel" class="btn btn-link">
                        </div>
                    </div>
                </div>
            </div>

            <!-- side address column -->
            <!-- <div class="col-md-3 col-xs-12 address pull-right">
                <h6>Location</h6>
                <iframe width="300" height="133" scrolling="no" src="https://maps.google.com.mx/?ie=UTF8&amp;t=m&amp;ll=19.715081,-155.071421&amp;spn=0.010746,0.025749&amp;z=14&amp;output=embed"></iframe>
                <ul>
                    <li>2301 East Lamar Blvd. Suite 140. </li>
                    <li>City, Arlington. United States,</li>
                    <li>Zip Code, TX 76006.</li>
                    <li class="ico-li">
                        <i class="ico-phone"></i>
                        1817 274 2933
                    </li>
                     <li class="ico-li">
                        <i class="ico-mail"></i>
                        <a href="#">alejandra@detail.com</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- end main container