<h1>Messages</h1>
<br>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation">
        <%= link_to conversations_path do %>
          Inbox <span class="label label-danger pull-right"><%= @conversations.count %></span>
        <% end %>
      </li>
      <li role="presentation" class="active">
        <%= link_to trashbin_conversations_path do %>
          Trash <span class="label label-danger pull-right"><%= @trashcount.count %></span>
        <% end %>
      </li>
    </ul>
    <br><br>
    <% if @trashcount.count > 0 %><h3>Trash</h3><br><%= button_to 'Empty Trash', 'empty_trash', :confirm => 'Empty trash?', :class => 'btn btn-primary btn-danger' %><%end%>

  </div>
  <div class="col-sm-8 col-md-8 col-md-offset-1">
    <% if @trash == nil || @trash.empty? %>
      <i>Your Trash folder is currently empty</i>
    <% else %>
      <% @trash.each do |conversation| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <!-- user avators can go here -->
                <a href="#">
                  <img class="media-object" src="http://placehold.it/64x64" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <% conversation.participants.each do |participant| %>
                    <% if participant != current_user %>
                      <%= participant.name %> </b>
                    <% end %> 
                  <% end %> <br>
                  <small>
                    <b>Subject: </b>
                      <%= link_to conversation.subject, conversation_path(conversation) %>
                  </small><br>
                  <small>
                    <b>Date: </b>
                      <%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %>
                  </small>
                </h4>
                <% if conversation.is_read?(current_user) %> 
                  <%= conversation.subject %>
                <% else %>
                  <%= conversation.messages %>
                <% end %>
                <%= link_to '<i class="fa fa-inbox fa-2x"></i>'.html_safe, {:controller => "conversations", :action => "untrash", :id => conversation.id},  :title => "Move to Inbox", :method=>'post', class: "pull-right" %> 
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>    
  </div>
</div>

      


    
    