<%= form_for([@profile, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :rating %>
  <div id="star-rating"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :comment %><br>
        <%= f.text_area :comment, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "button button-small" %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/yelp-demo-2014/Stars/',
    scoreName: 'review[rating]',
  });
</script>
