<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>OneHourUX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => 'stripe-key', :content => ENV["STRIPE_PUBLIC_KEY"] %>
</head>
<body>
  
  <%= render 'layouts/alert_message' %>
  
  <% if current_page?(root_path) %>
    <%= render 'layouts/home_header' %>
    <%= yield %>
  <% else %>
    <%= render 'layouts/header' unless @disable_nav %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>

	<%= render 'layouts/footer' %>

</body>
</html>
